.zzjsnyM2_1Rh1 i{
font-size: 14px;
    color: #000;
font-style: inherit;padding-left: 20px;}

.zzjsnyM2_2nr a{
text-decoration: revert !important;
    color: blue;}
.zzjsnyM2_2nr h3 {
    font-weight: bold;}
.zzjsnyM2_2nr h3 strong{
    font-weight: bold;
        font-size: 20px !important;}
